@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
}
.queen_warp{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF99CC;
    position: relative;
}
.bg_overlay{
    border-radius: 100%;
    background-color: #ffffff;
    position: absolute;
    width: 0;
    height: 0;
}
.second_wrap{
    width: 100%;
    height: 100vh;
    background-color: red;
}